
.idea
venv
server/product/__pycache__
server/product/migrations/__pycache__
server/mainapp/__pycache__
server/mainapp/migrations/__pycache__
server/server/__pycache__
server/__pycache__
db.sqlite3
server/media