{% extends "main.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'product/css/product.css' %}">
    <title>Товары</title>
{% endblock %}

{% block content %}
    <div class="list-pro">
        <ul class="list-product">
        {% for item in products %}
        <li class="list-product-li"><a href="{% url 'product:detail' product_name=item.name product_content=item.content %}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}