{% extends "main.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'product/css/product.css' %}">
    <title>Товары</title>
{% endblock %}

{% block content %}
    <style>
    .edit-product {
        color: green;
    }
    .delete-product {
        color: red;
    }
    </style>
    <div class="add-product">
        <a class="add-a" href="{% url 'product:add' %}">Добавление товара.</a>
    </div>
    <div class="list-pro">
        <ul class="paginator">
            {% if products.has_previous %}
            <li><a href="?page={{ products.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for num in products.paginator.page_range %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endfor %}
            {% if products.has_next %}
            <li><a href="?page={{ products.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
        <ul class="list-product">
        {% for item in products %}
        <li class="list-product-li"><a href="{% url 'product:detail' product_name=item.title product_content=item.snippet product_image=item.image %}">{{ item.title }}</a>
            <a class="edit-product" href="{% url 'product:update' pk=item.pk %}">Редактировать товар.</a>
            <a class="delete-product" href="{% url 'product:delete' pk=item.pk %}">Удадить товар.</a>
        </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}