{% extends "main.html" %}

{% block head %}
    <link rel="stylesheet" href="static/mainapp/css/index.css">
    <title>О проекте</title>
{% endblock %}

{% block content %}
    <div class="about">
        <h2>{{ about|title }}</h2>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ea est facere ipsam magnam nam
            necessitatibus nisi obcaecati pariatur placeat, quaerat reprehenderit saepe sunt temporibus ullam, velit
            voluptates? Culpa, odit!
        </div>
        <div>Aliquam asperiores beatae consequatur culpa delectus dicta distinctio doloremque dolorum ducimus eos et ex,
            harum illo impedit ipsam laborum necessitatibus officiis perspiciatis quam quas quisquam repellendus
            similique veniam voluptas voluptatum?
        </div>
        <div>Aliquam aliquid amet, aut autem beatae delectus ea expedita inventore numquam placeat porro saepe
            veritatis. Ad adipisci amet aperiam assumenda deleniti dignissimos esse eveniet, iste libero, neque nostrum
            omnis, suscipit?
        </div>
        <div>Dicta, et eum exercitationem ipsa iste nesciunt possimus quia rem repellendus sed! Commodi explicabo
            incidunt magnam non quibusdam repellendus reprehenderit. Cum, est, minima! Aliquam cum dolores facilis non,
            porro quidem.
        </div>
        <div>Aliquam mollitia officiis sint! Exercitationem ipsa nam nihil, nostrum officiis perferendis? Accusamus est,
            ipsum iure odio quia sit sunt! Autem consectetur eligendi fuga fugit numquam porro quam repellat repellendus
            sint!
        </div>
        <div>Eos ex facilis iusto laborum possimus? Amet architecto debitis eos eveniet excepturi exercitationem fugit
            molestias mollitia neque quam, qui quo quos ratione sapiente sunt suscipit ullam unde veritatis vero
            voluptate.
        </div>
        <div>Autem beatae delectus, dolorum eius enim exercitationem facere fugit impedit iure maiores nam odio quaerat
            recusandae reprehenderit repudiandae sint tenetur, vel! At aut cumque deleniti, dolorem eaque magni nesciunt
            quisquam!
        </div>
        <div>Atque aut deleniti ea enim eos esse ex excepturi, in ipsam iure optio placeat quis repellendus rerum sequi,
            temporibus totam voluptates. Aspernatur beatae doloribus exercitationem explicabo inventore pariatur quas,
            tempora!
        </div>
        <div>Adipisci architecto asperiores commodi consectetur ducimus eaque expedita facilis itaque, modi molestias
            nobis officiis quae quos repellat sed tempore, temporibus, tenetur totam ut vel? Blanditiis eos
            necessitatibus non pariatur quia!
        </div>
        <div>Aliquam aliquid amet assumenda beatae corporis cumque, ea et ex fugiat harum id iusto minima neque nulla
            odit porro provident, quas quasi quia quibusdam quod quos reprehenderit repudiandae rerum sequi!
        </div>
        <div>Assumenda beatae consequuntur et inventore laborum magnam quia quis. Ea iure magni veritatis vero
            voluptate. Assumenda, dolore eaque explicabo fugit harum ipsum laborum nostrum sint sit suscipit! Assumenda,
            dolores quia.
        </div>
    </div>
{% endblock %}