<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/mainapp/css/index.css">
    <title>Главная</title>
</head>
<body>
    <div class="menu">
        <ul class="ul-menu">
            <li><a href="/">Главная</a></li>
            <li><a href="about">О проекте</a></li>
            <li><a href="contacts">Контакты</a></li>
        </ul>
    </div>
    <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fuga incidunt ipsam magnam quae? A
            beatae error ex illo incidunt, iusto molestias nam neque quae quibusdam saepe sequi similique tempore!
        </div>
    </div>
</body>
</html>